.main-container {
  flex-grow: 1;
  padding: 20px 40px;
  background-color: #fcfcfc;
}

.main-container h1 {
  font-size: 40px;
  font-weight: 600;
  color: var(--cor-principal);
  margin-bottom: 30px;
}

.main-container h2 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
  color: var(--cor-principal);
}

.card-fields {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.card-fields .column {
  flex: 1;
  /* max-width: 400px; */
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 0.9em;
  margin-bottom: 5px;
  color: #444;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-size: 1em;
}

.form-group textarea {
  width: 100%;
  padding: 2px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-size: 1em;
  resize: vertical;
}

.btn-salvar {
  /* align-items: flex-start; */
  background-color: #ff9800;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-right: 15px;
  /* font-size: 14px; */
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.1s;
}

.btn-salvar:hover {
  opacity: 0.9;
  transform: translateY(-1px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.btn-salvar:active {
  transform: scale(0.97);
}

.btn-cancelar {
  background-color: #999;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.2s, transform 0.1s;
}

.btn-cancelar:hover {
  /* background-color: #d5d5d5; */
  opacity: 0.9;
  transform: translateY(-1px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.tabela-disciplina {
  display: flex;
  align-items: center;
  justify-content: center;
}

.disciplina-table {
  width: 100%;
  /* Necessário para o espaçamento entre linhas e raios nas bordas */
  border-collapse: separate;
  /* 0 horizontal, 10px vertical (faz o papel da margin entre linhas) */
  border-spacing: 0 10px;
}

/*cabeçalho*/
.disciplina-table thead th {
  background-color: #b4b5b6;
  padding: 14px;
  text-align: center;
  border: none;
}

/*Arredondamento do thead*/
.disciplina-table thead th:first-child {
  border-radius: 12px 0 0 12px;
}

.disciplina-table thead th:last-child {
  border-radius: 0 12px 12px 0;
}

/* Corpo da tabela */
.disciplina-table tbody td {
  background-color: #fff; /* Fundo para as linhas */
  padding: 14px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

/* Arredondamento e bordas laterais das linhas (tbody) */
.disciplina-table tbody tr td:first-child {
  border-left: 1px solid #eee;
  border-radius: 10px 0 0 10px;
}

.disciplina-table tbody tr td:last-child {
  border-right: 1px solid #eee;
  border-radius: 0 10px 10px 0;
}

.acoes {
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
}
