<<<<<<< Updated upstream
=======
.feedback-message {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 500;
}

.feedback-message.success {
  color: #2e7d32;
}

.feedback-message.error {
  color: #c62828;
}

.senha-container {
  flex-grow: 1;
  padding: 20px 40px;
  background-color: #fcfcfc;
  border-radius: 12px;
}

.senha-container h1 {
  font-size: 2.5em;
  font-weight: 600;
  color: var(--cor-principal);
  margin-bottom: 30px;
}
>>>>>>> Stashed changes
